Repository NPGW/npgw-ui-test, pull requests merged in 2025-07, with the labels that each got.

#834 Add wait for absence/activation/deactivation
  .gitignore
  src/test/java/xyz/npgw/test/common/ProjectProperties.java
  src/test/java/xyz/npgw/test/common/base/BaseTest.java
  src/test/java/xyz/npgw/test/common/base/RetryAnalyzer.java
  src/test/java/xyz/npgw/test/page/base/BaseModel.java
  src/test/java/xyz/npgw/test/page/base/HeaderPage.java
  src/test/java/xyz/npgw/test/page/common/AlertComponent.java
  src/test/java/xyz/npgw/test/page/common/MenuComponent.java
  src/test/java/xyz/npgw/test/page/common/SelectStatusComponent.java
  src/test/java/xyz/npgw/test/page/common/table/BaseTableComponent.java
  src/test/java/xyz/npgw/test/page/common/table/GatewayTableComponent.java
  src/test/java/xyz/npgw/test/page/common/table/ReportsTableComponent.java
  src/test/java/xyz/npgw/test/page/common/table/UserTableComponent.java
  src/test/java/xyz/npgw/test/page/common/trait/AcquirersTableTrait.java
  src/test/java/xyz/npgw/test/page/dialog/BaseDialog.java
  src/test/java/xyz/npgw/test/page/dialog/TransactionDetailsDialog.java
  src/test/java/xyz/npgw/test/page/dialog/user/DeleteUserDialog.java
  src/test/java/xyz/npgw/test/page/dialog/user/EditUserDialog.java
  src/test/java/xyz/npgw/test/page/dialog/user/UserDialog.java
  src/test/java/xyz/npgw/test/page/system/CompaniesAndBusinessUnitsPage.java
  src/test/java/xyz/npgw/test/page/system/TeamPage.java
  src/test/java/xyz/npgw/test/run/AcquirersPageTest.java
  src/test/java/xyz/npgw/test/run/AddCompanyDialogTest.java
  src/test/java/xyz/npgw/test/run/GatewayPageTest.java
  src/test/java/xyz/npgw/test/run/TeamPageTest.java
Labels: Refactoring

#860 Refactor after 0.1.2507040300
  .github/workflows/ci.yml
  .properties.TEMPLATE
  Dockerfile
  src/test/java/xyz/npgw/test/common/base/BaseTest.java
  src/test/java/xyz/npgw/test/common/entity/Acquirer.java
  src/test/java/xyz/npgw/test/common/entity/BusinessUnit.java
  src/test/java/xyz/npgw/test/common/entity/Company.java
  src/test/java/xyz/npgw/test/common/entity/Info.java
  src/test/java/xyz/npgw/test/common/entity/MerchantAcquirer.java
  src/test/java/xyz/npgw/test/common/entity/User.java
  src/test/java/xyz/npgw/test/common/entity/lombok.config
  src/test/java/xyz/npgw/test/common/logging/ApiLogger.java
  src/test/java/xyz/npgw/test/common/logging/ApiLoggerFactory.java
  src/test/java/xyz/npgw/test/common/run/Run.java
  src/test/java/xyz/npgw/test/common/util/CleanupUtils.java
  src/test/java/xyz/npgw/test/page/TransactionsPage.java
  src/test/java/xyz/npgw/test/page/common/MenuComponent.java
  src/test/java/xyz/npgw/test/page/common/table/TransactionsTableComponent.java
  src/test/java/xyz/npgw/test/page/dialog/TransactionDetailsDialog.java
  src/test/java/xyz/npgw/test/page/dialog/acquirer/AcquirerDialog.java
  src/test/java/xyz/npgw/test/page/dialog/user/UserDialog.java
  src/test/java/xyz/npgw/test/run/AcquirersPageTest.java
  src/test/java/xyz/npgw/test/run/AddAcquirerDialogTest.java
  src/test/java/xyz/npgw/test/run/EditAcquirerDialogTest.java
  src/test/java/xyz/npgw/test/run/GatewayPageTest.java
  src/test/java/xyz/npgw/test/run/TransactionsPageTest.java
  src/test/java/xyz/npgw/test/run/TransactionsTableTest.java
Labels: Refactoring

#859 Split TransactionsPageTest on 2 parts
  src/test/java/xyz/npgw/test/run/TransactionDetailsTest.java
  src/test/java/xyz/npgw/test/run/TransactionsPageTest.java
Labels: Refactoring, Transactions/Details

#867 [ATC_06.019.01] All refundable transactions display correct refund dialog text and pre-filled refund amount.
  src/test/java/xyz/npgw/test/page/common/table/TransactionsTableComponent.java
  src/test/java/xyz/npgw/test/page/dialog/transactions/RefundTransactionDialog.java
  src/test/java/xyz/npgw/test/page/dialog/transactions/TransactionDetailsDialog.java
  src/test/java/xyz/npgw/test/run/TransactionDetailsTest.java
  src/test/java/xyz/npgw/test/run/TransactionsTableTest.java
Labels: Transactions

#868 Remove ignore from #559
  src/test/java/xyz/npgw/test/page/common/table/TransactionsTableComponent.java
  src/test/java/xyz/npgw/test/run/TransactionsTableTest.java
Labels: Refactoring

#878 Add refund and partial refund status
  src/test/java/xyz/npgw/test/common/entity/Status.java
  src/test/java/xyz/npgw/test/common/logging/ApiLogger.java
  src/test/java/xyz/npgw/test/common/provider/TestDataProvider.java
  src/test/java/xyz/npgw/test/run/TeamPageTest.java
  src/test/java/xyz/npgw/test/run/TransactionManagementPageTest.java
  src/test/java/xyz/npgw/test/run/TransactionsPageTest.java
Labels: Refactoring

#881 [ATC_06.006.02] The transaction table data on the UI matches the exported CSV file data.
  .gitignore
  src/test/java/xyz/npgw/test/page/TransactionsPage.java
  src/test/java/xyz/npgw/test/page/common/table/TransactionsTableComponent.java
  src/test/java/xyz/npgw/test/run/TransactionsTableTest.java
Labels: Transactions

#887 [ATC_14.000.02] Add testPlaceholdersAndSearchNpgwInAddAdjustment
  src/test/java/xyz/npgw/test/page/common/table/TransactionsTableComponent.java
  src/test/java/xyz/npgw/test/page/dialog/adjustment/AddAdjustmentDialog.java
  src/test/java/xyz/npgw/test/run/TransactionDetailsTest.java
  src/test/java/xyz/npgw/test/run/TransactionManagementPageTest.java
Labels: ATC, System/Transaction management

#896 [13.003.06] Verify that the error message is displayed when attempting to create a Fraud Control with the existing name.
  src/test/java/xyz/npgw/test/run/FraudControlTest.java
Labels: ATC

#907 Join AddEditCompany into CompaniesAndBU
  src/test/java/xyz/npgw/test/run/AddEditCompanyTest.java
  src/test/java/xyz/npgw/test/run/CompaniesAndBusinessUnitsTest.java
Labels: System / Companies and BU

#909 [ATC_10.009.01] Verify that business unit cannot be deleted if there are users associated with it
  src/test/java/xyz/npgw/test/run/TeamPageTest.java
Labels: System / Companies and BU

#921 Fraud Control Cancel features #920
  src/test/java/xyz/npgw/test/page/dialog/BaseDialog.java
  src/test/java/xyz/npgw/test/run/FraudControlTest.java
Labels: ATC

#923 Refactor #181 and FraudControlDialog
  src/test/java/xyz/npgw/test/page/dialog/control/FraudControlDialog.java
  src/test/java/xyz/npgw/test/run/TransactionsPageTest.java
Labels: Refactoring

#951 Delete Active Fraud Controls both: added and no added to Business unit
  src/test/java/xyz/npgw/test/page/common/table/FraudBusinessUnitControlsTableComponent.java
  src/test/java/xyz/npgw/test/run/FraudControlTest.java
Labels: ATC, System / Fraud Control

#956 Change Fraud Controls activity not added to Business unit
  src/test/java/xyz/npgw/test/run/FraudControlTest.java
Labels: ATC, System / Fraud Control

#958 [ATC_06.006.03] The transaction table data on the UI matches the exported PDF file data.
  pom.xml
  src/test/java/xyz/npgw/test/common/entity/Transaction.java
  src/test/java/xyz/npgw/test/page/TransactionsPage.java
  src/test/java/xyz/npgw/test/run/TransactionsTableTest.java
Labels: Transactions

#961 Change fraud control priority
  src/test/java/xyz/npgw/test/page/common/table/BusinessUnitControlsTableComponent.java
  src/test/java/xyz/npgw/test/run/FraudControlTest.java
Labels: ATC, System / Fraud Control

#959 [13.002.02] System | Fraud contol | Delete Inactive Fraud Control added to Business Unit
  src/test/java/xyz/npgw/test/page/common/table/BusinessUnitControlsTableComponent.java
  src/test/java/xyz/npgw/test/run/FraudControlTest.java
Labels: ATC

#971 Aq/refactor acquirers test
  src/test/java/xyz/npgw/test/page/common/SelectAcquirerComponent.java
  src/test/java/xyz/npgw/test/page/common/SelectCompanyComponent.java
  src/test/java/xyz/npgw/test/page/common/table/BaseTableComponent.java
  src/test/java/xyz/npgw/test/page/common/table/BusinessUnitAcquirersTableComponent.java
  src/test/java/xyz/npgw/test/run/AcquirersPageTest.java
  src/test/java/xyz/npgw/test/run/GatewayPageTest.java
  src/test/java/xyz/npgw/test/run/TransactionsTableTest.java
Labels: Refactoring

#979 [ATC_06.007.02] Add testMoveVisibleColumns
  src/test/java/xyz/npgw/test/page/TransactionsPage.java
  src/test/java/xyz/npgw/test/run/TransactionsTableTest.java
Labels: Transactions, ATC

#981 Refactoring: Add AddAdjustmentTableComponent to AddAdjustmentDialog
  src/test/java/xyz/npgw/test/page/common/table/AddAdjustmentTableComponent.java
  src/test/java/xyz/npgw/test/page/common/table/BaseTableComponent.java
  src/test/java/xyz/npgw/test/page/common/trait/AddAdjustmentTableTrait.java
  src/test/java/xyz/npgw/test/page/dialog/adjustment/AddAdjustmentDialog.java
  src/test/java/xyz/npgw/test/run/TransactionManagementPageTest.java
Labels: Refactoring, System/Transaction management

#1002 Hovers for available actions check on Control table
  src/test/java/xyz/npgw/test/page/common/table/ControlsTableComponent.java
  src/test/java/xyz/npgw/test/run/FraudControlTest.java
Labels: ATC, System / Fraud Control

#1006 [ATC_13.009.00] Fraud control | 'Reset filter' clears selected options
  src/test/java/xyz/npgw/test/page/system/FraudControlPage.java
  src/test/java/xyz/npgw/test/run/FraudControlTest.java
Labels: System / Fraud Control

#1012 [ATC_06.006.04] The transaction table data on the UI matches the exported Excel file data.
  pom.xml
  src/test/java/xyz/npgw/test/page/TransactionsPage.java
  src/test/java/xyz/npgw/test/page/common/table/TransactionsTableComponent.java
  src/test/java/xyz/npgw/test/run/TransactionsTableTest.java
Labels: Transactions

#1014 [13.002.00] System | Fraud control | Entries sorting in business unit control table
  src/test/java/xyz/npgw/test/run/DashboardPageTest.java
  src/test/java/xyz/npgw/test/run/FraudControlTest.java
Labels: System / Fraud Control
