Repository NPGW/npgw-ui-test, pull requests merged in 2025-08, with the labels that each got.

#1019 Change Business control priority with restrictions
  src/test/java/xyz/npgw/test/page/TransactionsPage.java
  src/test/java/xyz/npgw/test/page/common/SelectAcquirerComponent.java
  src/test/java/xyz/npgw/test/page/common/table/ControlsTableComponent.java
  src/test/java/xyz/npgw/test/run/AddEditAcquirerTest.java
  src/test/java/xyz/npgw/test/run/FraudControlTest.java
  src/test/java/xyz/npgw/test/run/GatewayPageTest.java
  src/test/java/xyz/npgw/test/run/TransactionsPageTest.java
  src/test/java/xyz/npgw/test/run/TransactionsTableTest.java
Labels: ATC, System / Fraud Control

#1025 [ATC_13.003.04] System | Fraud control | Add control dialog | The "Сontrol name" field is mandatory check
  src/test/java/xyz/npgw/test/page/dialog/control/AddControlDialog.java
  src/test/java/xyz/npgw/test/page/dialog/control/ControlDialog.java
  src/test/java/xyz/npgw/test/run/AcquirersPageTest.java
  src/test/java/xyz/npgw/test/run/AddEditAcquirerTest.java
  src/test/java/xyz/npgw/test/run/DashboardPageTest.java
  src/test/java/xyz/npgw/test/run/FraudControlTest.java
  src/test/java/xyz/npgw/test/run/GatewayPageTest.java
  src/test/java/xyz/npgw/test/run/TransactionsTableTest.java
Labels: System / Fraud Control

#1050 Refactor import tests
  src/test/java/xyz/npgw/test/common/util/TestUtils.java
  src/test/java/xyz/npgw/test/page/TransactionsPage.java
  src/test/java/xyz/npgw/test/page/common/table/TransactionsTableComponent.java
  src/test/java/xyz/npgw/test/run/AddEditAcquirerTest.java
  src/test/java/xyz/npgw/test/run/DashboardPageTest.java
  src/test/java/xyz/npgw/test/run/TransactionManagementPageTest.java
  src/test/java/xyz/npgw/test/run/TransactionsPageTest.java
  src/test/java/xyz/npgw/test/run/TransactionsTableTest.java
Labels: Transactions

#1080 [ATC_13.003.05] System | Fraud control | Error message is displayed when special symbols are entered in the Control name field after clicking create button
  src/test/java/xyz/npgw/test/run/FraudControlTest.java
Labels: System / Fraud Control

#1093 [ATC_13.003.08] System | Fraud control | The "Control Name" field requires between 4 and 100 characters.
  src/test/java/xyz/npgw/test/run/FraudControlTest.java
Labels: System / Fraud Control

#1099 Add SelectCurrencyComponent
  src/test/java/xyz/npgw/test/page/component/select/SelectCurrencyComponent.java
  src/test/java/xyz/npgw/test/page/component/select/SelectCurrencyTrait.java
  src/test/java/xyz/npgw/test/page/dashboard/BaseDashboardPage.java
  src/test/java/xyz/npgw/test/page/system/SuperGatewayPage.java
  src/test/java/xyz/npgw/test/page/transactions/BaseTransactionsPage.java
  src/test/java/xyz/npgw/test/run/DashboardPageAdminTest.java
  src/test/java/xyz/npgw/test/run/DashboardPageTest.java
  src/test/java/xyz/npgw/test/run/DashboardPageUserTest.java
  src/test/java/xyz/npgw/test/run/GatewayPageTest.java
  src/test/java/xyz/npgw/test/run/TransactionDetailsTest.java
  src/test/java/xyz/npgw/test/run/TransactionsPageAdminTest.java
  src/test/java/xyz/npgw/test/run/TransactionsPageTest.java
  src/test/java/xyz/npgw/test/run/TransactionsPageUserTest.java
  src/test/java/xyz/npgw/test/run/TransactionsTableTest.java
Labels: Project, Refactoring

#1118 Add testGenerateTokenAsTestAdmin
  src/test/java/xyz/npgw/test/page/component/select/SelectCurrencyComponent.java
  src/test/java/xyz/npgw/test/page/component/table/AdminBusinessUnitsTableComponent.java
  src/test/java/xyz/npgw/test/page/component/table/BaseTableComponent.java
  src/test/java/xyz/npgw/test/page/dialog/merchant/GenerateTokenConfirmDialog.java
  src/test/java/xyz/npgw/test/page/dialog/merchant/SecretTokenDialog.java
  src/test/java/xyz/npgw/test/page/system/AdminBusinessUnitsPage.java
  src/test/java/xyz/npgw/test/page/system/BaseBusinessUnitsPage.java
  src/test/java/xyz/npgw/test/page/transactions/BaseTransactionsPage.java
  src/test/java/xyz/npgw/test/run/CompaniesAndBusinessUnitsTest.java
Labels: Refactoring, ATC

#1121 Small changes in the SelectCurrencyComponent
  src/test/java/xyz/npgw/test/common/Constants.java
  src/test/java/xyz/npgw/test/common/entity/BusinessUnit.java
  src/test/java/xyz/npgw/test/common/util/TestUtils.java
  src/test/java/xyz/npgw/test/page/component/select/SelectCurrencyComponent.java
  src/test/java/xyz/npgw/test/page/component/table/BusinessUnitControlsTableComponent.java
  src/test/java/xyz/npgw/test/page/component/table/ControlsTableComponent.java
  src/test/java/xyz/npgw/test/page/transactions/BaseTransactionsPage.java
  src/test/java/xyz/npgw/test/run/DashboardPageAdminTest.java
  src/test/java/xyz/npgw/test/run/DashboardPageUserTest.java
  src/test/java/xyz/npgw/test/run/FraudControlTest.java
  src/test/java/xyz/npgw/test/run/GatewayPageTest.java
  src/test/java/xyz/npgw/test/run/TransactionDetailsTest.java
  src/test/java/xyz/npgw/test/run/TransactionsPageAdminTest.java
  src/test/java/xyz/npgw/test/run/TransactionsPageTest.java
  src/test/java/xyz/npgw/test/run/TransactionsPageUserTest.java
  src/test/java/xyz/npgw/test/run/TransactionsTableTest.java
Labels: Project, Refactoring

#1136 Refactor tests after update
  src/test/java/xyz/npgw/test/page/dialog/user/SuperAddUserDialog.java
  src/test/java/xyz/npgw/test/run/AcquirersPageTest.java
  src/test/java/xyz/npgw/test/run/FraudControlTest.java
  src/test/java/xyz/npgw/test/run/TeamPageTest.java
  src/test/java/xyz/npgw/test/run/TransactionsPageAdminTest.java
  src/test/java/xyz/npgw/test/run/TransactionsPageTest.java
  src/test/java/xyz/npgw/test/run/TransactionsPageUserTest.java
Labels: Refactoring

#1138 Join AddEdit company into Comp and BU
  src/test/java/xyz/npgw/test/common/util/TestUtils.java
  src/test/java/xyz/npgw/test/page/dialog/company/DeleteCompanyDialog.java
  src/test/java/xyz/npgw/test/page/dialog/merchant/DeleteBusinessUnitDialog.java
  src/test/java/xyz/npgw/test/run/AddEditBusinessUnitTest.java
  src/test/java/xyz/npgw/test/run/CompaniesAndBusinessUnitsTest.java
  src/test/java/xyz/npgw/test/run/TransactionsPageTest.java
Labels: Refactoring, System / Companies and BU

#1142 [ATC_11.008.00] System | Acquirers | Tooltips for available actions check - testTooltipsForAcquirersTable
  src/test/java/xyz/npgw/test/common/entity/FraudControl.java
  src/test/java/xyz/npgw/test/common/util/TestUtils.java
  src/test/java/xyz/npgw/test/page/component/table/AcquirersTableComponent.java
  src/test/java/xyz/npgw/test/page/component/table/BaseTableComponent.java
  src/test/java/xyz/npgw/test/page/component/table/BusinessUnitControlsTableComponent.java
  src/test/java/xyz/npgw/test/page/component/table/ControlsTableComponent.java
  src/test/java/xyz/npgw/test/run/AcquirersPageTest.java
  src/test/java/xyz/npgw/test/run/FraudControlTest.java
Labels: ATC, System / Acquirers

#1144 Warning message text change activity on Control table
  src/test/java/xyz/npgw/test/page/dialog/BaseDialog.java
  src/test/java/xyz/npgw/test/run/FraudControlTest.java
Labels: ATC, System / Fraud Control

#1147 Fix capitalization typos
  src/test/java/xyz/npgw/test/common/Constants.java
  src/test/java/xyz/npgw/test/common/provider/TestDataProvider.java
  src/test/java/xyz/npgw/test/page/component/table/BaseTableComponent.java
  src/test/java/xyz/npgw/test/page/component/table/SuperBusinessUnitsTableComponent.java
  src/test/java/xyz/npgw/test/run/AcquirersPageTest.java
  src/test/java/xyz/npgw/test/run/AddEditAcquirerTest.java
  src/test/java/xyz/npgw/test/run/CompaniesAndBusinessUnitsTest.java
  src/test/java/xyz/npgw/test/run/FraudControlTest.java
  src/test/java/xyz/npgw/test/run/GatewayPageTest.java
  src/test/java/xyz/npgw/test/run/HeaderTest.java
  src/test/java/xyz/npgw/test/run/TeamPageTest.java
  src/test/java/xyz/npgw/test/run/TransactionsPageAdminTest.java
  src/test/java/xyz/npgw/test/run/TransactionsPageTest.java
  src/test/java/xyz/npgw/test/run/TransactionsPageUserTest.java
  src/test/java/xyz/npgw/test/run/TransactionsTableTest.java
Labels: Refactoring

#1149 Fix PDF import after update
  src/test/java/xyz/npgw/test/page/transactions/BaseTransactionsPage.java
  src/test/java/xyz/npgw/test/run/TransactionsTableTest.java
Labels: Transactions, Refactoring

#1150 Refactor testSort... for transactions table
  src/test/java/xyz/npgw/test/page/component/table/BaseTableComponent.java
  src/test/java/xyz/npgw/test/run/TeamPageAdminTest.java
  src/test/java/xyz/npgw/test/run/TeamPageTest.java
  src/test/java/xyz/npgw/test/run/TransactionsTableTest.java
Labels: Refactoring

#1162 [ATC_09.005.01]Contents of Tooltips, that appear after hovering on the icon-buttons, are correct
  src/test/java/xyz/npgw/test/page/component/table/UsersTableComponent.java
  src/test/java/xyz/npgw/test/page/system/BaseTeamPage.java
  src/test/java/xyz/npgw/test/page/system/SuperTeamPage.java
  src/test/java/xyz/npgw/test/run/FraudControlTest.java
  src/test/java/xyz/npgw/test/run/TeamPageTest.java
Labels: ATC

#1168 [ATC_11.009.00] Verify that gateway Acquirer MID can be deactivated and then activated via bulk actions
  src/test/java/xyz/npgw/test/page/component/table/AcquirersTableComponent.java
  src/test/java/xyz/npgw/test/page/dialog/acquirer/ActivateGroupGatewayItemsDialog.java
  src/test/java/xyz/npgw/test/page/dialog/acquirer/DeactivateGroupGatewayItemsDialog.java
  src/test/java/xyz/npgw/test/run/AcquirersPageTest.java
  src/test/java/xyz/npgw/test/run/FraudControlTest.java
Labels: ATC, System / Acquirers

#1183 Add Select Acquirer code component
  src/test/java/xyz/npgw/test/page/component/select/SelectAcquirerCodeComponent.java
  src/test/java/xyz/npgw/test/page/component/select/SelectAcquirerCodeTrait.java
  src/test/java/xyz/npgw/test/page/component/select/SelectAcquirerMidComponent.java
  src/test/java/xyz/npgw/test/page/component/select/SelectAcquirerMidTrait.java
  src/test/java/xyz/npgw/test/page/component/select/SelectAcquirerTrait.java
  src/test/java/xyz/npgw/test/page/dialog/gateway/AddBusinessUnitAcquirerDialog.java
  src/test/java/xyz/npgw/test/page/system/SuperAcquirersPage.java
  src/test/java/xyz/npgw/test/run/AcquirersPageTest.java
Labels: System / Acquirers

#1178 BaseTest refactoring
  src/test/java/xyz/npgw/test/common/base/BaseTest.java
  src/test/java/xyz/npgw/test/run/AcquirersPageTest.java
Labels: Project, Refactoring

#1186 Delete control dialog text content
  src/test/java/xyz/npgw/test/run/AcquirersPageTest.java
  src/test/java/xyz/npgw/test/run/FraudControlTest.java
  src/test/java/xyz/npgw/test/run/GatewayPageTest.java
Labels: ATC, System / Fraud Control
