Repository NPGW/npgw-ui-test, pull requests merged in 2025-09, with the labels that each got.

#1196 Modify: clickSystemAdministrationLink() and clickTabIfNeededAndCheckIt() after
  src/test/java/xyz/npgw/test/page/component/header/AdminHeaderMenuComponent.java
  src/test/java/xyz/npgw/test/page/component/header/BaseHeaderMenuComponent.java
  src/test/java/xyz/npgw/test/page/component/header/SuperHeaderMenuComponent.java
  src/test/java/xyz/npgw/test/page/component/system/AdminSystemMenuComponent.java
  src/test/java/xyz/npgw/test/page/component/system/SuperSystemMenuComponent.java
  src/test/java/xyz/npgw/test/run/AcquirersPageTest.java
  src/test/java/xyz/npgw/test/run/AdminTeamPageTest.java
  src/test/java/xyz/npgw/test/run/CompaniesAndBusinessUnitsTest.java
  src/test/java/xyz/npgw/test/run/FraudControlTest.java
  src/test/java/xyz/npgw/test/run/GatewayPageTest.java
  src/test/java/xyz/npgw/test/run/TeamPageLogoutTest.java
  src/test/java/xyz/npgw/test/run/TeamPageTest.java
  src/test/java/xyz/npgw/test/run/TestAdminCompaniesAndBusinessUnitsTest.java
  src/test/java/xyz/npgw/test/run/TransactionManagementPageTest.java
Labels: Project, Refactoring

#1198 'Delete business unit control' dialog
  src/test/java/xyz/npgw/test/run/FraudControlTest.java
Labels: ATC, System / Fraud Control

#1193 Ed/modal content team page
  src/test/java/xyz/npgw/test/common/Constants.java
  src/test/java/xyz/npgw/test/page/component/table/SuperBusinessUnitsTableComponent.java
  src/test/java/xyz/npgw/test/page/component/table/UsersTableComponent.java
  src/test/java/xyz/npgw/test/page/system/BaseBusinessUnitsPage.java
  src/test/java/xyz/npgw/test/page/system/BaseTeamPage.java
  src/test/java/xyz/npgw/test/page/system/SuperCompaniesAndBusinessUnitsPage.java
  src/test/java/xyz/npgw/test/page/system/SuperTeamPage.java
  src/test/java/xyz/npgw/test/run/AdminTeamPageTest.java
  src/test/java/xyz/npgw/test/run/CompaniesAndBusinessUnitsTest.java
  src/test/java/xyz/npgw/test/run/TeamPageTest.java
Labels: System / Team, Refactoring, ATC

#1199 Refactoring: AcquirersPageTest, AcquirersTableComponent
  src/test/java/xyz/npgw/test/page/component/table/AcquirersTableComponent.java
  src/test/java/xyz/npgw/test/page/system/SuperAcquirersPage.java
  src/test/java/xyz/npgw/test/run/AcquirersPageTest.java
  src/test/java/xyz/npgw/test/run/AdminTeamPageTest.java
  src/test/java/xyz/npgw/test/run/CompaniesAndBusinessUnitsTest.java
Labels: Refactoring, System / Acquirers

#1202 Add already added Fraud Control to Business Unit
  src/test/java/xyz/npgw/test/run/FraudControlTest.java
Labels: ATC, System / Fraud Control

#1219 Update date constants after transactions cleanup
  src/test/java/xyz/npgw/test/common/Constants.java
  src/test/java/xyz/npgw/test/common/base/BaseTestForSingleLogin.java
  src/test/java/xyz/npgw/test/common/entity/Status.java
  src/test/java/xyz/npgw/test/common/provider/TestDataProvider.java
  src/test/java/xyz/npgw/test/common/util/TestUtils.java
  src/test/java/xyz/npgw/test/page/component/table/BaseTableComponent.java
  src/test/java/xyz/npgw/test/page/system/BaseTeamPage.java
  src/test/java/xyz/npgw/test/page/system/SuperTeamPage.java
  src/test/java/xyz/npgw/test/page/transactions/BaseTransactionsPage.java
  src/test/java/xyz/npgw/test/run/AcquirersPageTest.java
  src/test/java/xyz/npgw/test/run/AdminTeamPageTest.java
  src/test/java/xyz/npgw/test/run/AdminTransactionsPageTest.java
  src/test/java/xyz/npgw/test/run/CompaniesAndBusinessUnitsTest.java
  src/test/java/xyz/npgw/test/run/DashboardPageTest.java
  src/test/java/xyz/npgw/test/run/FraudControlTest.java
  src/test/java/xyz/npgw/test/run/GatewayPageTest.java
  src/test/java/xyz/npgw/test/run/HeaderTest.java
  src/test/java/xyz/npgw/test/run/ReportsPageTest.java
  src/test/java/xyz/npgw/test/run/TeamPageLogoutTest.java
  src/test/java/xyz/npgw/test/run/TeamPageTest.java
  src/test/java/xyz/npgw/test/run/TestAdminCompaniesAndBusinessUnitsTest.java
  src/test/java/xyz/npgw/test/run/TestAdminDashboardPageTest.java
  src/test/java/xyz/npgw/test/run/TestUserDashboardPageTest.java
  src/test/java/xyz/npgw/test/run/TransactionDetailsTest.java
  src/test/java/xyz/npgw/test/run/TransactionManagementPageTest.java
  src/test/java/xyz/npgw/test/run/TransactionsPageTest.java
  src/test/java/xyz/npgw/test/run/TransactionsTableTest.java
  src/test/java/xyz/npgw/test/run/UnauthenticatedLoginPageTest.java
  src/test/java/xyz/npgw/test/run/UserTransactionsPageTest.java
Labels: Refactoring

#1252 Add merchant client
  config/checkstyle/mod_v10.17.0_google_checks.xml
  src/test/java/xyz/npgw/test/common/Constants.java
  src/test/java/xyz/npgw/test/common/base/BaseTest.java
  src/test/java/xyz/npgw/test/common/base/BaseTestForSingleLogin.java
  src/test/java/xyz/npgw/test/common/client/Client.java
  src/test/java/xyz/npgw/test/common/client/CustomerDetails.java
  src/test/java/xyz/npgw/test/common/client/Operation.java
  src/test/java/xyz/npgw/test/common/client/OperationType.java
  src/test/java/xyz/npgw/test/common/client/PaymentDetails.java
  src/test/java/xyz/npgw/test/common/client/ThreeDSecureDetails.java
  src/test/java/xyz/npgw/test/common/client/Transaction.java
  src/test/java/xyz/npgw/test/common/client/TransactionResponse.java
  src/test/java/xyz/npgw/test/common/client/lombok.config
  src/test/java/xyz/npgw/test/common/entity/Acquirer.java
  src/test/java/xyz/npgw/test/common/entity/AcquirerConfig.java
  src/test/java/xyz/npgw/test/common/entity/AddMerchantAcquirerItem.java
  src/test/java/xyz/npgw/test/common/entity/BusinessUnit.java
  src/test/java/xyz/npgw/test/common/entity/MerchantAcquirer.java
  src/test/java/xyz/npgw/test/common/entity/MerchantAcquirerItem.java
  src/test/java/xyz/npgw/test/common/entity/SystemConfig.java
  src/test/java/xyz/npgw/test/common/entity/TempMerchantAcquirer.java
  src/test/java/xyz/npgw/test/common/entity/User.java
  src/test/java/xyz/npgw/test/common/util/AuthTransactionUtils.java
  src/test/java/xyz/npgw/test/common/util/CleanupUtils.java
  src/test/java/xyz/npgw/test/common/util/SaleTransactionUtils.java
  src/test/java/xyz/npgw/test/common/util/TestUtils.java
  src/test/java/xyz/npgw/test/common/util/WaitUtils.java
  src/test/java/xyz/npgw/test/page/component/table/BusinessUnitAcquirersTableComponent.java
  src/test/java/xyz/npgw/test/page/system/BaseTeamPage.java
  src/test/java/xyz/npgw/test/page/transactions/BaseTransactionsPage.java
  src/test/java/xyz/npgw/test/run/AcquirersPageTest.java
  src/test/java/xyz/npgw/test/run/AdminTeamPageTest.java
  src/test/java/xyz/npgw/test/run/CompaniesAndBusinessUnitsTest.java
  src/test/java/xyz/npgw/test/run/GatewayPageTest.java
  src/test/java/xyz/npgw/test/run/TransactionDetailsTest.java
  src/test/java/xyz/npgw/test/run/TransactionsTableTest.java
Labels: enhancement

#1267 Refactoring of BaseTest
  src/test/java/xyz/npgw/test/common/base/BaseTest.java
  src/test/java/xyz/npgw/test/common/base/BaseTestForLogout.java
  src/test/java/xyz/npgw/test/common/base/BaseTestForSingleLogin.java
Labels: Project, Refactoring

#1270 Tracing fixing: Snapshots with CSS
  src/test/java/xyz/npgw/test/common/base/BaseTestForLogout.java
  src/test/java/xyz/npgw/test/common/base/BaseTestForSingleLogin.java
  src/test/java/xyz/npgw/test/run/AcquirersPageTest.java
  src/test/java/xyz/npgw/test/run/AdminTeamPageTest.java
  src/test/java/xyz/npgw/test/run/AdminTransactionsPageTest.java
  src/test/java/xyz/npgw/test/run/CompaniesAndBusinessUnitsTest.java
  src/test/java/xyz/npgw/test/run/DashboardPageTest.java
  src/test/java/xyz/npgw/test/run/FraudControlTest.java
  src/test/java/xyz/npgw/test/run/GatewayPageTest.java
  src/test/java/xyz/npgw/test/run/HeaderTest.java
  src/test/java/xyz/npgw/test/run/ReportsPageTest.java
  src/test/java/xyz/npgw/test/run/TeamPageTest.java
  src/test/java/xyz/npgw/test/run/TestAdminCompaniesAndBusinessUnitsTest.java
  src/test/java/xyz/npgw/test/run/TestAdminDashboardPageTest.java
  src/test/java/xyz/npgw/test/run/TestUserDashboardPageTest.java
  src/test/java/xyz/npgw/test/run/TransactionDetailsTest.java
  src/test/java/xyz/npgw/test/run/TransactionManagementPageTest.java
  src/test/java/xyz/npgw/test/run/TransactionsPageTest.java
  src/test/java/xyz/npgw/test/run/TransactionsTableTest.java
  src/test/java/xyz/npgw/test/run/UnauthenticatedLoginPageTest.java
  src/test/java/xyz/npgw/test/run/UserTransactionsPageTest.java
Labels: Project, Refactoring

#1255 testTooltipsForActionsControlTable refactor
  src/test/java/xyz/npgw/test/page/component/table/ControlsTableComponent.java
  src/test/java/xyz/npgw/test/run/FraudControlTest.java
Labels: Refactoring, ATC, System / Fraud Control
